/Bin
/fpslog
/Library
/Logs
/obj
/Temp
/.vs/MBasic/v16/.suo
/.vscode/settings.json
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/AstarPathfindingProject.csproj
/AstarPathfindingProjectEditor.csproj
/GGPhys.csproj
/gpm_cachestorage.csproj
/gpm_cachestorage_editor.csproj
/gpm_common.csproj
/gpm_logviewer.csproj
/gpm_manager.csproj
/gpm_ui.csproj
/gpm_ui_editor.csproj
/gpm_ui_sample.csproj
/kcp2k.csproj
/MBasic.sln
/MiddlewareTransport.csproj
/Mirror.Authenticators.csproj
/Mirror.CompilerSymbols.csproj
/Mirror.Components.csproj
/Mirror.csproj
/Mirror.Editor.csproj
/Mirror.Examples.csproj
/Mirror.Transports.csproj
/MultiplexTransport.csproj
/PackageToolsEditor.csproj
/ParrelSync.csproj
/ParticleImage.csproj
/ParticleImage.Editor.csproj
/SimpleWebTransport.csproj
/Telepathy.csproj
/Unity.Mirror.CodeGen.csproj
/UserSettings/EditorUserSettings.asset
/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
/UserSettings/Layouts/default-2021.dwlt
/UserSettings/Search.index
/UserSettings/Search.settings
/.vscode
/Assets/*.meta
/Assets/Epic Toon FX
/Assets/Feel
/Assets/Hovl Studio
/Assets/LeartesStudios
/Assets/Magic Sound Effect Pack
/Assets/QFX
/Assets/VFX_Klaus
/Assets/Frank_Fighting_Set3
/BulletUnity.csproj
/lilToon.Editor.csproj
/lilToon.Editor.External.csproj
/ProjectSettings/lilToonSetting.json
/SSCC.Runtime.csproj
/SSCC.Universal.Runtime.csproj
/VFavorites.csproj
/VFolders.csproj
/VHierarchy.csproj
/VInspector.csproj
/VRuler.csproj
/VTabs.csproj
/BasicUnity/BasicUnity.sln
/BasicUnity/Library
/BasicUnity/Logs
/BasicUnity/Temp
/BasicUnity/UserSettings
/BasicUnity/Assembly-CSharp.csproj
